@charset "UTF-8";
dd{margin:0;}
.sub-content{word-break:keep-all;}
.nk-about-wrap{width:100%;height:auto;background:url(../img/sub-content/bg-nkcell.jpg) no-repeat right center;background-size:contain;}
.nk-about-wrap .rela{
    padding:280px 0;
    max-width:1385px;width:100%;height:auto;overflow:hidden;margin:0 auto;
}
.nk-about-wrap .mtit{width:100%;height:auto;overflow:hidden;}
.nk-about-wrap .mtit img{max-width:400px;}
.nk-about-wrap .mcate{margin-top:38px;width:100%;height:auto;overflow:hidden;font-size:40px;color:#B29377;font-weight:500;}
.nk-about-wrap .mdesc{margin-top:160px;width:100%;height:auto;overflow:hidden;font-size:35px;color:#B29377;font-weight:600;line-height:160%;letter-spacing: -1.4px;}

.nk-desc-wrap01{width:1385px;height:460px;overflow:hidden;border-radius:230px;background:rgba(178, 147, 119, 0.10);margin:0 auto;
    display:flex;justify-content: flex-start;align-items: center;
}
.nk-desc-wrap01 .mpic{width:707px;height:460px;}
.nk-desc-wrap01 .mpic img{max-width:100%;width:100%;}
.nk-desc-wrap01 .mdesc{margin-left:47px;width:528px;height:auto;overflow:hidden;font-size:31px;color:#B29377;font-weight:500;line-height:160%;letter-spacing: -1.24px;}

.nk-btn-wrap{
    width:100%;height:auto;overflow:hidden;
    display:flex;justify-content: center;align-items: center;
}
.nk-btn-wrap .mtype01{display:flex;justify-content: center;align-items: center;width:349px;height:64px;border-radius:32px;background:#B29377;font-size:24px;color:#fff;
font-weight:700;letter-spacing: -0.96px;margin:117px auto 124px auto;}
.nk-btn-wrap .mtype02{display:flex;justify-content: center;align-items: center;width:284px;height:52px;border-radius:26px;background:#FEE;
    font-size:24px;color:#716458;margin:200px auto 48px auto;
    font-weight:600;letter-spacing: -0.96px;}

.nk-desc-wrap02{width:1155px;height:302px;overflow:hidden;border-radius:151px;margin:0 auto;background:#FEF6F6;border:2px solid #DFCFC0;
    display:flex;justify-content: center;align-items: center;gap:37px;
}
.nk-desc-wrap02 .mpic{width:286px;height:auto;overflow:hidden;}
.nk-desc-wrap02 .mpic img{max-width:100%;}
.nk-desc-wrap02 .mdesc{width:606px;height:auto;overflow:hidden;font-size:24px;color:#716458;font-weight:400;line-height:166%;letter-spacing: -0.96px;}
.nk-desc-wrap02 .mdesc strong{
    font-size:24px;color:#716458;font-weight:700;line-height:166%;letter-spacing: -0.96px;
}

.nk-table-wrap{width:1300px;height:auto;overflow:Hidden;margin:0 auto;border:1px solid #B29377;border-radius:40px;}
.nk-table-wrap table{width:100%;table-layout:fixed;border:0;border-collapse:collapse;}
.nk-table-wrap table th{vertical-align:middle;height:63px;background:#B29377;border:0;font-size:24px;color:#fff;font-weight:700;text-align:center;position:relative;}
.nk-table-wrap table th:before{
    content:"";width:1px;height:36px;overflow:hidden;display:block;background:#fff;position:absolute;left:0;top:50%;margin-top:-18px;
}
.nk-table-wrap table th:first-child:before{
    display:none;
}
.nk-table-wrap table td{vertical-align:middle;padding:40px 20px;font-size:24px;color:#716458;font-weight:400;line-height:166%;letter-spacing: -0.96px;text-align:center;border:0;
    border-top:1px solid #B29377;position:relative;
}
.nk-table-wrap table td:before{
    content:"";width:1px;height:130px;overflow:hidden;display:block;background:#B29377;position:absolute;left:0;top:50%;margin-top:-65px;
}
.nk-table-wrap table td:first-child:before{
    display:none;
}

.nk-certified-wrap{width:1385px;height:auto;overflow:hidden;margin:240px auto 0 auto;}
.nk-certified-wrap .mlogo{width:100%;height:auto;overflow:hidden;}
.nk-certified-wrap .mlogo img{height:85px;}
.nk-certified-wrap .mdesc{margin-top:50px;width:100%;height:auto;overflow:hidden;font-size:40px;color:#B29377;font-weight:600;line-height:150%;letter-spacing: -1.6px;}
.nk-certified-wrap .mdesc strong{font-size:40px;color:#B29377;font-weight:700;line-height:150%;letter-spacing: -1.6px;}
.nk-certified-wrap .mpic{margin-top:120px;width:100%;height:auto;overflow:hidden;}
.nk-certified-wrap .mpic img{width:100%;}

.nk-chart-wrap{width:1385px;height:auto;overflow:hidden;margin:280px auto 0 auto;}
.nk-chart-wrap .mheader{width:100%;height:auto;overflow:hidden;display:flex;justify-content:space-between;align-items:center;}
.nk-chart-wrap .mheader .mpic{width:384px;height:auto;overflow:hidden;}
.nk-chart-wrap .mheader .mpic img{max-width:100%;}
.nk-chart-wrap .mheader .mdesc{text-align:right;font-size:35px;color:#B29377;font-weight:500;line-height:129%;letter-spacing: -1.4px;}
.nk-chart-wrap .mchart{width:100%;height:auto;overflow:hidden;margin-top:130px;text-align:center;}
.nk-chart-wrap .mchart img{max-width:883px;width:100%;}



@media (max-width:1390px) {
    .nk-about-wrap .rela{width:calc( 100% - 40px );padding:15vw 0;}
    .nk-about-wrap .mtit img{max-width:40vw;}
    .nk-desc-wrap01{background:transparent;width:calc( 100% - 40px );height:auto;border-radius:0;}
    .nk-desc-wrap01 .mpic{width:50%;height:auto;}
    .nk-desc-wrap02{width:calc( 100% - 40px );flex-direction: column;height:auto;padding:20px;box-sizing: border-box;gap:20px;}
    .nk-desc-wrap02 .mdesc{text-align:center;}
    .nk-table-wrap{width:calc( 100% - 40px );}
    .nk-certified-wrap{width:calc( 100% - 40px );}
    .nk-chart-wrap{width:calc( 100% - 40px );}
    .nk-about-wrap .mdesc br{display:none;}
    .nk-about-wrap .mcate{}
    .nk-certified-wrap .mdesc br{display:none;}
    .nk-chart-wrap .mheader{display:block;}
    .nk-chart-wrap .mheader .mdesc{width:100%;text-align:left;}

}

@media (max-width:768px) {
    .nk-about-wrap .mcate{font-size:24px;margin-top:20px;}
    .nk-about-wrap .mdesc{font-size:18px;margin-top:40px;}
    .nk-about-wrap{background-position:right top;}
    .nk-desc-wrap01{display:block;}
    .nk-desc-wrap01 .mpic{margin:0 auto;width:100%;max-width:300px;}
    .nk-desc-wrap01 .mdesc{margin-left:0;margin-top:20px;font-size:18px;}
    .nk-btn-wrap .mtype01{margin:40px auto;width:300px;height:50px;font-size:18px;}
    .nk-desc-wrap02{border-radius:20px;}
    .nk-desc-wrap02 .mpic{width:200px;}
    .nk-desc-wrap02 .mdesc{width:100%;font-size:18px;padding:0;}
    .nk-desc-wrap02 .mdesc strong{font-size:18px;}
    .nk-btn-wrap .mtype02{margin:60px auto 20px auto;width:300px;height:50px;font-size:18px;}
    .nk-table-wrap table th{height:50px;font-size:18px;}
    .nk-table-wrap{border-radius:20px;}
    .nk-table-wrap table td{font-size:18px;padding:20px 10px;}
    .nk-certified-wrap{margin:80px auto 0 auto;}
    .nk-certified-wrap .mlogo img{height:35px;}
    .nk-certified-wrap .mdesc{margin-top:20px;font-size:24px;}
    .nk-certified-wrap .mdesc strong{font-size:24px;}
    .nk-certified-wrap .mpic{margin-top:60px;}
    .nk-chart-wrap{margin:80px auto 0 auto;}
    .nk-chart-wrap .mheader .mpic{width:200px;}
    .nk-chart-wrap .mheader .mdesc br{display:none;}
    .nk-chart-wrap .mheader .mdesc{margin-top:20px;font-size:24px;}
    .nk-chart-wrap .mheader .mdesc strong{font-size:24px;}
    .nk-chart-wrap .mchart{margin-top:40px;}
}


/*성형*/
.cosmetic-tabmenu-wrap{width:calc( 100% - 40px );max-width:1200px;height:auto;overflow:hidden;margin:124px auto 0 auto;position:relative;}
.cosmetic-tabmenu-wrap .swiper{width:calc( 100% - 160px );height:58px;overflow:hidden;margin:0 auto;background:#FFF0F0;border-radius:30px;}
.cosmetic-tabmenu-wrap .swiper .swiper-slide{width:165px;height:58px;}
.cosmetic-tabmenu-wrap .swiper .swiper-slide a{width:100%;height:58px;overflow:hidden;border-radius:30px;display:flex;justify-content:center;align-items:center;
    font-size:22px;color:#B29377;font-weight:700;letter-spacing: -0.88px;
}
.cosmetic-tabmenu-wrap .swiper .swiper-slide a.on{background:#B29377;color:#fff;}
.cosmetic-tabmenu-wrap .swiper-button-next{margin:0;top:0;width:58px;height:58px;overflow:hidden;background:url(../img/sub-content/ico-swiper-next.svg) no-repeat;right:0;}
.cosmetic-tabmenu-wrap .swiper-button-prev{margin:0;top:0;width:58px;height:58px;overflow:hidden;background:url(../img/sub-content/ico-swiper-prev.svg) no-repeat;left:0;}
.cosmetic-tabmenu-wrap .swiper-button-next:after,
.cosmetic-tabmenu-wrap .swiper-button-prev:after{display:none;}

.cosmetic-title-wrap{width:calc( 100% - 40px );max-width:1200px;height:auto;overflow:hidden;margin:86px auto 0 auto;}
.cosmetic-title-wrap h2{width:100%;height:auto;text-align:center;font-size:60px;color:#B29377;font-weight:700;letter-spacing: -2.4px;}
.cosmetic-title-wrap .mdesc{width:100%;height:auto;text-align:center;font-size:25px;color:#B29377;letter-spacing: -1px;margin-top:10px;}

.cosmetic-about-wrap01{width:calc( 100% - 40px );max-width:1200px;height:auto;overflow:hidden;margin:60px auto 0 auto;}
.cosmetic-about-wrap01 .mpic{width:100%;height:auto;text-align:center;}
.cosmetic-about-wrap01 .mpic img{max-width:100%;}
.cosmetic-about-wrap01 .mtit{width:100%;height:auto;text-align:center;margin-top:90px;font-size:42px;color:#B29377;font-weight:700;letter-spacing: -0.4px;}
.cosmetic-about-wrap01 .mdesc{width:100%;height:auto;text-align:center;margin-top:34px;font-size:18px;color:#B29377;letter-spacing: -0.4px;}

.cosmetic-about-wrap02{width:calc( 100% - 40px );max-width:1200px;height:auto;overflow:hidden;margin:90px auto 0 auto;position:relative;
    display:flex;justify-content:space-between;align-items:center;
}
.cosmetic-about-wrap02 .sitem{width:calc( 50% - 10px );height:419px;overflow:hidden;border-radius:40px;background:#FFEDED;}
.cosmetic-about-wrap02 .sitem .stit{width:calc( 100% - 40px );height:50px;overflow:hidden;border-radius:25px;margin:30px auto 0 auto;background:rgba(178, 147, 119, 0.70);
    border:1px solid #B29377;display:flex;justify-content:center;align-items:center;font-size:20px;color:#fff;font-weight:800;letter-spacing: -0.4px;
}
.cosmetic-about-wrap02 .sbox{width:calc( 100% - 40px );height:286px;overflow:hidden;border-radius:20px;border:1px solid #B29377;background:#fff;
    position:absolute;left:20px;bottom:20px;display:flex;justify-content:center;align-items:center;padding:40px;box-sizing: border-box;
}
.cosmetic-about-wrap02 .sbox:before{
    content:"";width:1px;height:200px;overflow:hidden;display:block;background:#EAE2DB;position:absolute;left:50%;top:50%;margin-top:-100px;
}
.cosmetic-about-wrap02 .sbox .slist01{width:50%;height:auto;overflow:hidden;margin-top:-16px;}
.cosmetic-about-wrap02 .sbox .slist01 li{margin-top:16px;width:50%;float:left;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:flex-start;}
.cosmetic-about-wrap02 .sbox .slist01 li.full{width:100%;}
.cosmetic-about-wrap02 .sbox .slist01 li .key{width:117px;box-sizing:border-box;font-size:18px;color:#B29377;font-weight:700;padding-left:15px;position:relative;}
.cosmetic-about-wrap02 .sbox .slist01 li .key:before{
    content:"";width:3px;height:3px;overflow:hidden;display:block;border-radius:50%;position:absolute;left:0;top:50%;margin-top:-1px;background:#B29377;
}
.cosmetic-about-wrap02 .sbox .slist01 li .value{font-size:18px;color:#B29377;letter-spacing: -0.4px;}
.cosmetic-about-wrap02 .sbox .slist02{margin-left:60px;width:100%;flex:1;height:auto;overflow:hidden;}
.cosmetic-about-wrap02 .sbox .slist02 li{background:url(../img/sub-content/ico-list-arr-down.svg) no-repeat left top;padding-left:26px;font-size:18px;color:#B29377;letter-spacing: -0.4px;font-weight:500;}
.cosmetic-about-wrap02 .sbox .slist02 li + li{margin-top:17px;}

.cosmetic-about-wrap03{width:calc( 100% - 40px );max-width:1200px;height:auto;overflow:hidden;margin:136px auto 0 auto;}
.cosmetic-about-wrap03 .mtit{width:100%;height:auto;text-align:center;margin-top:90px;font-size:42px;color:#B29377;font-weight:700;letter-spacing: -0.4px;}
.cosmetic-about-wrap03 .mdesc{line-height:1.5em;width:100%;height:auto;text-align:center;margin-top:34px;font-size:18px;color:#B29377;letter-spacing: -0.4px;}
.cosmetic-about-wrap03 ul{width:100%;height:auto;text-align:center;margin-top:90px;display:flex;justify-content:space-between;align-items:flex-start;gap:20px;}
.cosmetic-about-wrap03 ul li{width:100%;flex:1;height:auto;overflow:hidden;}
.cosmetic-about-wrap03 ul li img{width:100%;float:left;}

.cosmetic-about-wrap04{width:100%;height:auto;margin:270px auto 0 auto;padding-bottom:150px;background:#FFF2F2;}
.cosmetic-about-wrap04 .mtit{transform:translateY(-180px);width:calc( 100% - 40px );max-width:1200px;height:auto;overflow:hidden;position:relative;margin:0 auto;}
.cosmetic-about-wrap04 .mtit img{width:100%;float:left;}
.cosmetic-about-wrap04 .mtit span{position:absolute;right:0;top:24px;font-size:39px;color:#B29377;font-weight:400;letter-spacing: -0.4px;}
.cosmetic-about-wrap04 ul{width:calc( 100% - 40px );max-width:1200px;height:auto;gap:20px;overflow:hidden;margin:-60px auto 0 auto;display:flex;justify-content:flex-start;align-items:flex-start;flex-wrap:wrap;}
.cosmetic-about-wrap04 ul li{width:calc( 50% - 10px );height:205px;border-radius:14px;background:#fff;position:relative;}
.cosmetic-about-wrap04 ul li span{position:absolute;left:60px;top:40px;font-size:23px;color:#B29377;font-weight:600;line-height:1.5em;letter-spacing: -0.4px;}
.cosmetic-about-wrap04 ul li img{}
.cosmetic-about-wrap04 .mdesc01{position:relative;padding-bottom:40px;margin-bottom:40px;width:100%;height:auto;overflow:hidden;text-align:center;font-size:24px;color:#B29377;font-weight:600;line-height:1.5em;letter-spacing: -0.4px;}
.cosmetic-about-wrap04 .mdesc01:before{
    content:"";width:16px;height:1px;overflow:hidden;display:block;background:#B29377;position:absolute;left:50%;bottom:0;margin-left:-8px;
}
.cosmetic-about-wrap04 .mdesc02{width:100%;height:auto;overflow:hidden;text-align:center;font-size:16px;color:#B29377;font-weight:500;line-height:1.5em;letter-spacing: -0.4px;}


.cosmetic-about-wrap04 .mdesc03{width:100%;height:auto;overflow:hidden;text-align:center;font-size:33px;color:#B29377;font-weight:700;line-height:1.5em;letter-spacing: -0.4px;}

.cosmetic-about-wrap04 .mdesc04{padding-bottom:140px;margin-top:20px;width:100%;height:auto;overflow:hidden;text-align:center;font-size:16px;color:#B29377;font-weight:500;line-height:1.5em;letter-spacing: -0.4px;}


.cosmetic-about-wrap04 ul.type01{
    margin-top:80px;
}
.cosmetic-about-wrap04 ul.type01 li{
    height:123px;width:calc( 100% / 3 - 14px );
}
.cosmetic-about-wrap04 ul.type02{

}
.cosmetic-about-wrap04 ul.type02 li{
    height:auto;background:transparent;
}
.cosmetic-about-wrap04 ul.type02 li .oitem{width:100%;height:489px;overflow:hidden;border-radius:14px;background:#fff;}
.cosmetic-about-wrap04 ul.type02 li .otxt{margin-top:18px;width:100%;height:120px;overflow:hidden;border-radius:14px;background:#fff;padding:0 60px;
    display:flex;justify-content:flex-start;align-items:center;font-size:23px;color:#B29377;font-weight:600;letter-spacing: -0.4px;
}

.cosmetic-about-wrap05{width:calc( 100% - 40px );max-width:1200px;height:auto;overflow:hidden;margin:136px auto 0 auto;box-sizing: border-box;border:1px solid #E8DCD0;padding:30px 30px 120px 30px;border-radius:50px;}
.cosmetic-about-wrap05 + .cosmetic-about-wrap05{margin-top:35px;}
.cosmetic-about-wrap05.last{margin-bottom:140px;}
.cosmetic-about-wrap05 .mtit{width:100%;height:264px;overflow:hidden;border-radius:30px;background:#FFF2F2;
    display:flex;justify-content:center;align-items:center;flex-direction: column;gap:15px;position:relative;
}
.cosmetic-about-wrap05 .mtit:before{
    content:"";width:31px;height:211px;overflow:hidden;display:block;background:url(../img/sub-content/etc-side-logo.png) no-repeat;background-size:contain;
    position:absolute;left:20px;top:25px;
}
.cosmetic-about-wrap05 .mtit strong{font-size:48px;color:#B29377;font-weight:800;letter-spacing: -0.4px;}
.cosmetic-about-wrap05 .mtit span{font-size:27px;color:#B29377;font-weight:400;letter-spacing: -0.4px;}
.cosmetic-about-wrap05 .mlist01{width:100%;height:auto;overflow:hidden;}
.cosmetic-about-wrap05 .mlist01>li{width:100%;height:auto;overflow:hidden;margin-top:70px;display:flex;justify-content:flex-start;align-items:flex-start;}
.cosmetic-about-wrap05 .mlist01 li .key{line-height:1.5em;width:230px;box-sizing: border-box;padding-left:28px;font-size:20px;color:#B29377;font-weight:700;letter-spacing: -0.4px;}
.cosmetic-about-wrap05 .mlist01 li .value{width:100%;flex:1;height:auto;overflow:hidden;font-size:16px;color:#B29377;font-weight:400;color: #B29377;
    letter-spacing: -0.4px;line-height:1.5em;}
.cosmetic-about-wrap05 .mlist01 li .value strong{
    display:block;font-size:16px;color:#B29377;font-weight:700;letter-spacing: -0.4px;
    position:relative;padding-bottom:15px;margin-bottom:10px;
}
.cosmetic-about-wrap05 .mlist01 li .value strong.t01{
    margin-top:40px;
}
.cosmetic-about-wrap05 .mlist01 li .value strong:before{
    content:"";width:12px;height:2px;overflow:hidden;display:block;background:#B29377;position:absolute;left:0;bottom:0;
}
.cosmetic-about-wrap05 .mlist01 li ul{width:100%;height:auto;overflow:hidden;}
.cosmetic-about-wrap05 .mlist01 li ul li{width:100%;height:auto;overflow:hidden;font-size:16px;color:#B29377;font-weight:400;color: #B29377;
    letter-spacing: -0.4px;line-height:1.5em;position:relative;padding-left:15px;}
.cosmetic-about-wrap05 .mlist01 li ul li:before{
    content:"";width:3px;height:3px;overflow:hidden;display:block;background:#B29377;position:absolute;left:0;top:9px;
}


.cosmetic-about-wrap05 .mlist02{margin-top:80px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:space-between;align-items:flex-start;gap:40px;}
.cosmetic-about-wrap05 .mlist02 li{width:100%;height:auto;overflow:visible;flex:1;position:relative;}
.cosmetic-about-wrap05 .mlist02 li:before{
    content:"";width:22px;height:22px;overflow:hidden;display:block;background:url(../img/sub-content/ico-arr-right.svg) no-repeat;
    left: -32px;
    top: 115px;position:absolute;
}
.cosmetic-about-wrap05 .mlist02 li .spic{width:100%;height:250px;overflow:hidden;border-radius:20px;background:#F6E4E4;}
.cosmetic-about-wrap05 .mlist02 li .stit{width:100%;height:auto;overflow:hidden;padding:30px 0 0 0;box-sizing: border-box;text-align:center;font-size:24px;color:#B29377;letter-spacing: -0.4px;line-height:1.5em;font-weight:700;}
.cosmetic-about-wrap05 .mlist02 li .sdesc{width:100%;height:auto;overflow:hidden;padding:35px;box-sizing: border-box;text-align:center;font-size:16px;color:#B29377;letter-spacing: -0.4px;line-height:1.5em;font-weight:600;}
.cosmetic-about-wrap05 .mlist02 li .stit + .sdesc{padding-top:20px;}
.cosmetic-about-wrap05 .mlist03{margin-top:80px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:center;align-items:center;gap:40px;flex-wrap:wrap;}
.cosmetic-about-wrap05 .mlist03 li{width:calc( 50% - 20px );height:auto;overflow:hidden;}
.cosmetic-about-wrap05 .mlist03 li .spic{position:relative;width:100%;height:250px;overflow:hidden;display:flex;justify-content:center;align-items:center;gap:40px;}
.cosmetic-about-wrap05 .mlist03 li .spic:before{
    content:"";width:22px;height:22px;overflow:hidden;display:block;background:url(../img/sub-content/ico-arr-right.svg) no-repeat;
    left: 50%;margin-left:-11px;margin-top:-11px;
    top: 50%;position:absolute;
}
.cosmetic-about-wrap05 .mlist03 li .spic .oitem{background:#F6E4E4;width:100%;flex:1;height:250px;overflow:hidden;border-radius:20px;}
.cosmetic-about-wrap05 .mlist03 li .sdesc{width:100%;height:auto;overflow:hidden;padding:35px;box-sizing: border-box;text-align:center;font-size:16px;color:#B29377;letter-spacing: -0.4px;line-height:1.5em;font-weight:600;}
.cosmetic-about-wrap05 .mlist04{margin-top:80px;width:100%;height:auto;overflow:hidden;}
.cosmetic-about-wrap05 .mlist04 li{width:100%;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:center;}
.cosmetic-about-wrap05 .mlist04 li + li{
    margin-top:24px;
}
.cosmetic-about-wrap05 .mlist04 li .spic{width:252px;height:252px;overflow:hidden;border-radius:20px;background:#F6E4E4;}
.cosmetic-about-wrap05 .mlist04 li .scont{width:100%;height:auto;overflow:hidden;flex:1;margin-left:80px;}
.cosmetic-about-wrap05 .mlist04 li .scont .stit{display:inline-flex;justify-content:center;align-items:center;height:45px;border-radius:25px;padding:0 35px;background:#eee;
    font-size:17px;color:#B29377;font-weight:600;letter-spacing: -0.4px;
}
.cosmetic-about-wrap05 .mlist04 li .scont .sdesc{width:100%;height:auto;overflow:hidden;line-height:1.5em;margin-top:24px;font-size:16px;color:#B29377;letter-spacing: -0.4px;font-weight:400;}

.cosmetic-about-wrap05 .mlist05{margin-top:80px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:center;align-items:flex-start;gap:60px;}
.cosmetic-about-wrap05 .mlist05 li{width:380px;height:auto;overflow:visible;position:relative;}
.cosmetic-about-wrap05 .mlist05 li + li:before{
    content:"";width:22px;height:22px;overflow:hidden;display:block;background:url(../img/sub-content/ico-arr-right.svg) no-repeat;
    left: -40px;
    top: 180px;position:absolute;
}
.cosmetic-about-wrap05 .mlist05 li .spic{width:100%;height:378px;overflow:hidden;border-radius:20px;background:#F6E4E4;}
.cosmetic-about-wrap05 .mlist05 li .stit{width:100%;height:auto;overflow:hidden;margin-top:35px;box-sizing: border-box;font-size:27px;color:#B29377;letter-spacing: -0.4px;line-height:1.5em;font-weight:700;}
.cosmetic-about-wrap05 .mlist05 li .sdesc{width:100%;height:auto;overflow:hidden;margin-top:30px;box-sizing: border-box;font-size:16px;color:#B29377;letter-spacing: -0.4px;line-height:1.5em;font-weight:600;}

.cosmetic-about-wrap05 .mpic{width:100%;height:357px;border-radius:20px;background:#FBEFEF;overflow:hidden;margin-top:80px;}

.cosmetic-result-wrap{margin:70px auto;width:100%;height:auto;box-sizing:border-box;padding:50px;overflow:hidden;border-radius:20px;border:1px solid #B29377;background:#fff;}
.cosmetic-result-wrap .mpic{width:100%;display:flex;justify-content:center;align-items:center;height:auto;overflow:hidden;gap:36px;}
.cosmetic-result-wrap .mpic .oitem{width:100%;flex:1;height:342px;overflow:hidden;border-radius:20px;background:#FDF3F3;}
.cosmetic-result-wrap .mdesc{width:100%;height:auto;overflow:hidden;line-height:1.5em;margin-top:38px;font-size:16px;color:#B29377;letter-spacing: -0.4px;font-weight:400;}

.cosmetic-other-wrap{width:100%;height:auto;overflow:hidden;margin-top:94px;background:#FFF2F2;padding:164px 0;}
.cosmetic-other-wrap>ul{width:calc( 100% - 40px );max-width:1200px;height:auto;overflow:hidden;margin:0 auto;}
.cosmetic-other-wrap>ul>li{width:100%;height:auto;overflow:hidden;background:#fff;border-radius:30px;box-sizing: border-box;padding:30px;display:flex;justify-content:flex-start;align-items:flex-start;}
.cosmetic-other-wrap ul li .mpic{width:254px;height:375px;overflow:hidden;border-radius:16px;border:1px solid #B29377;background:#FFF6F6;}
.cosmetic-other-wrap ul li .mcont{width:100%;flex:1;height:auto;overflow:hidden;margin-left:80px;}
.cosmetic-other-wrap ul li .mcont .sdesc{padding-bottom:30px;border-bottom:1px solid #F6F2EF;margin-top:24px;width:100%;height:auto;overflow:hidden;font-size:20px;color:#B29377;font-weight:500;letter-spacing: -0.4px;}
.cosmetic-other-wrap ul li .mcont .stit{width:100%;height:auto;overflow:hidden;margin-top:36px;font-size:18px;color:#B29377;font-weight:700;letter-spacing: -0.4px;}
.cosmetic-other-wrap ul li .mcont ul{width:100%;height:auto;overflow:hidden;margin-top:20px;}
.cosmetic-other-wrap ul li .mcont ul li{box-sizing:border-box;position:relative;padding-left:15px;font-size:16px;line-height:1.5em;color:#B29377;font-weight:400;letter-spacing: -0.4px;}
.cosmetic-other-wrap ul li .mcont ul li:before{
    content:"";width:3px;height:3px;overflow:hidden;display:block;background:#B29377;position:absolute;left:0;top:9px;
}
.cosmetic-other-wrap ul li .mcont ul li + li{margin-top:8px;}

.cosmetic-point-wrap{width:100%;height:1112px;overflow:hidden;background:url(../img/sub-content/bg-about-point.jpg) no-repeat center top;background-size:cover;}
.cosmetic-point-wrap.type01{margin-top:180px;}
.cosmetic-point-wrap h2{margin-top:80px;width:100%;height:auto;overflow:hidden;text-align:center;}
.cosmetic-point-wrap h2 img{max-width:210px;}
.cosmetic-point-wrap .mdesc{font-family: "Brilliant Cut Pro Medium";width:100%;height:auto;margin-top:23px;text-align:center;font-size:100px;color:#fff;font-weight:600;letter-spacing: -0.4px;}
.cosmetic-point-wrap ul{margin-top:110px;gap:37px;width:100%;height:auto;display:flex;justify-content:center;align-items:center;}
.cosmetic-point-wrap ul li{display:flex;justify-content:center;align-items:center;flex-direction: column;width:322px;height:604px;border-radius:200px;background:rgba(255, 232, 232, 0.75);}
.cosmetic-point-wrap ul li .scate{width:100%;height:auto;overflow:hidden;text-align:center;font-size:20px;color:#fff;font-weight:600;font-family: "Brilliant Cut Pro Medium";}
.cosmetic-point-wrap ul li .stit{width:100%;height:110px;line-height:1.2em;overflow:hidden;text-align:center;margin-top:30px;font-size:28px;color:#B29377;font-weight:700;}
.cosmetic-point-wrap ul li .spic{margin-top:24px;width:100%;height:auto;text-align:center;-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FFF;
    color:transparent;
    font-family: "Brilliant Cut Pro Medium";
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 100px */
    letter-spacing: -0.4px;
    text-transform: uppercase;}
.cosmetic-point-wrap ul li .spic img{height:100px;}
.cosmetic-point-wrap ul li .sdesc{height:100px;line-height:1.5em;margin-top:58px;width:100%;height:auto;overflow:hidden;text-align:center;font-size:16px;color:#B49273;font-weight:600;letter-spacing: -0.64px;}

.cosmetic-teacher-wrap{width:100%;height:649px;overflow:hidden;background:url(../img/sub-content/bg-cosmetic-teacher.jpg) no-repeat center top;background-size:cover;}
.cosmetic-teacher-wrap .rela{width:calc( 100% - 40px );max-width:1200px;height:649px;overflow:hidden;margin:0 auto;position:relative;}
.cosmetic-teacher-wrap .rela .mcate{font-size:22px;color:#fff;font-weight:600;letter-spacing: -0.4px;margin-top:40px;}
.cosmetic-teacher-wrap .rela .mtit{font-size:54px;color:#fff;font-weight:200;line-height:1.2em;letter-spacing: -0.4px;margin-top:120px;}
.cosmetic-teacher-wrap .rela .mdesc{font-size:16px;color:#fff;font-weight:500;line-height:1.5em;letter-spacing: -0.4px;margin-top:60px;}
.cosmetic-teacher-wrap .rela .mname{margin-top:70px;}
.cosmetic-teacher-wrap .rela .mname strong{font-size:24px;color:#fff;font-weight:700;line-height:1.5em;letter-spacing: -1.36px;}
.cosmetic-teacher-wrap .rela .mname span{padding-left:5px;font-size:12px;color:#fff;font-weight:600;line-height:1.5em;letter-spacing: -0.48px;}
.cosmetic-teacher-wrap .rela .mpic{width:637px;height:637px;overflow:hidden;position:absolute;right:0;bottom:0;}
.cosmetic-teacher-wrap .rela .mpic img{max-width:100%;}

@media (max-width:1390px) {


}

@media (max-width:768px) {

}

/**/
.func-header-wrap{max-width:1200px;width:calc( 100% - 40px );height:auto;overflow:hidden;margin:150px auto 0 auto;}
.func-header-wrap .mtit{width:100%;height:auto;overflow:hidden;text-align:center;font-size:60px;color:#B29377;font-weight:700;letter-spacing: -2.4px;}
.func-header-wrap .mdesc{width:100%;height:auto;overflow:hidden;text-align:center;
    font-size:23px;color:#B29377;font-weight:500;letter-spacing: -1px;line-height:1.5em;margin-top:23px;
}

.func-about-wrap{max-width:1200px;width:calc( 100% - 40px );height:auto;overflow:hidden;margin:100px auto 0 auto;padding:45px;box-sizing: border-box;
    background:#FFF2F2;border-radius:600px;
    display:flex;justify-content:center;align-items:center;
}
.func-about-wrap .mcont{margin-left:80px;margin-right:65px;width:100%;flex:1;height:auto;overflow:hidden;}
.func-about-wrap .mcont .mtit{width:100%;height:auto;overflow:hidden;font-size:30px;color:#B29377;font-weight:700;letter-spacing: -1px;}
.func-about-wrap .mcont .mdesc{width:100%;height:auto;overflow:hidden;margin-top:40px;line-height:1.5em;
    font-size:16px;color:#B29377;font-weight:500;letter-spacing: -1px;line-height:1.5em;
}
.func-about-wrap .mpic{width:415px;height:415px;overflow:hidden;}
.func-about-wrap .mpic img{width:100%;}

.func-why-wrap{max-width:1200px;width:calc( 100% - 40px );height:auto;overflow:hidden;margin:110px auto 0 auto;}
.func-why-wrap .mtit{width:100%;height:auto;overflow:hidden;font-size:50px;color:#B29377;font-weight:700;letter-spacing: -2px;text-align:center;}
.func-why-wrap .mbox{margin-top:84px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:center;align-items:center;}
.func-why-wrap .mbox .litem{width:663px;height:244px;overflow:hidden;border-radius:122px;background:rgba(178, 147, 119, 0.20);
    box-sizing: border-box;padding:0 98px;display:flex;justify-content:center;align-items:flex-start;flex-direction: column;
}
.func-why-wrap .mbox .litem .otit{width:100%;height:auto;overflow:hidden;font-size:25px;color:#B29377;font-weight:500;letter-spacing: -1px;}
.func-why-wrap .mbox .litem ul{width:300px;height:auto;overflow:hidden;margin-top:14px;}
.func-why-wrap .mbox .litem ul li{margin-bottom:5px;float:left;padding-left:15px;font-size:20px;color:#B29377;letter-spacing: -0.8px;width:100px;position:relative;}
.func-why-wrap .mbox .litem ul li:before{
    content:"";width:3px;height:3px;overflow:hidden;display:block;border-radius:50%;position:absolute;left:0;top:50%;margin-top:-1px;background:#B29377;
}
.func-why-wrap .mbox .ritem{
    width:663px;height:244px;overflow:hidden;border-radius:122px;
    background:rgba(178, 147, 119, 0.75) url(../img/sub-content/ico-arr-right-white.svg) no-repeat 45px center;margin-left:-127px;
    display:flex;justify-content:center;align-items:center;
    color:#fff;font-size:42px;font-weight:700;letter-spacing: -1.68px;
}
.func-why-wrap .mdesc{margin-top:84px;text-align:center;width:100%;height:auto;overflow:hidden;
    font-size:20px;color:#B29377;font-weight:500;letter-spacing: -1px;line-height:1.5em;}
.func-why-wrap dl{width:100%;height:auto;overflow:hidden;margin-top:67px;text-align:center;}
.func-why-wrap dl dt{display:inline-block;font-size:28px;color:#B29377;font-weight:700;letter-spacing: -1px;border-bottom:1px solid #B29377;}
.func-why-wrap dl dd{margin-left:0;width:100%;height:auto;overflow:hidden;margin-top:70px;
    font-size:16px;color:#B29377;font-weight:500;letter-spacing: -1px;line-height:1.5em;}

.function-banner-wrap{width:100%;height:auto;overflow:hidden;margin:130px auto 0 auto;
    background:url(../img/sub-content/bg-function-banner.jpg) no-repeat center top;background-size:cover;
    padding:130px 0;
}
.function-banner-wrap .mtit{width:100%;height:auto;overflow:hidden;text-align:center;
    font-size:40px;color:#fff;font-weight:700;letter-spacing: -1px;line-height:1.5em;
}
.function-banner-wrap .mpic{margin-top:290px;width:100%;height:auto;overflow:hidden;text-align:center;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.50);
    font-family: "Brilliant Cut Pro Medium";
    color:transparent;
    font-size: 300px;
    font-style: normal;
    font-weight: 600;
    line-height: 97%; /* 291px */
    letter-spacing: -12px;
    text-transform: uppercase;
}
.function-banner-wrap .mdesc{width:100%;height:auto;overflow:hidden;text-align:center;
    font-size:16px;color:#fff;font-weight:500;letter-spacing: -1px;line-height:1.5em;
}

.function-end-wrap{max-width:1200px;width:calc( 100% - 40px );height:auto;overflow:hidden;margin:148px auto;}
.function-end-wrap .mpic{width:100%;height:auto;overflow:hidden;text-align:center;}
.function-end-wrap .mtit{width:100%;height:auto;overflow:hidden;text-align:center;margin-top:60px;
    font-size:64px;color:#B29377;font-weight:700;letter-spacing: -2.56px;line-height:1.3em;
}
.function-end-wrap .mdesc{width:100%;height:auto;overflow:hidden;text-align:center;margin-top:70px;font-size:30px;color:#B29377;font-weight:700;
    letter-spacing: -1.2px;
}

.inspection-box-wrap{max-width:1200px;width:calc( 100% - 40px );height:auto;overflow:hidden;margin:105px auto 0 auto;border:1px solid #EEE6DF;border-radius:30px;
    box-sizing: border-box;padding:30px;background:rgba(255, 255, 255, 0.96);
    display:flex;justify-content:flex-start;align-items:flex-start;
}
.inspection-box-wrap + .inspection-box-wrap{margin-top:24px;}
.inspection-box-wrap .mpic{
    border-radius: 16px;
    border: 1px solid #B29377;
    background: #FFF6F6;width:254px;height:375px;overflow:hidden;position:relative;
}
.inspection-box-wrap .mpic:before{
    content:"";display:block;position:absolute;left:18px;top:16px;width:12px;height:12px;overflow:hidden;border-radius:50%;background:#B29377;
}
.inspection-box-wrap .mpic .pos{padding:50px 45px 30px 45px;width:100%;height:auto;overflow:hidden;font-size:32px;color:#B29377;font-weight:700;letter-spacing: -0.4px;
    line-height:1.2em;
}
.inspection-box-wrap .mpic span{display:block;width:100%;height:auto;overflow:hidden;padding:0 45px;color:#B29377;
    font-weight:700;letter-spacing: -0.4px;font-size:18px;font-weight:700;line-height:1.5em;}
.inspection-box-wrap .mcont{margin-left:80px; width:100%;flex:1;height:auto;overflow:hidden;}
.inspection-box-wrap .mcont .mdesc{width:100%;height:auto;overflow:hidden;padding:27px 0 40px 0;font-size:20px;color:#B29377;font-weight:500;line-height:1.5em;
    letter-spacing: -0.4px;border-bottom:1.5px solid #F6F2EF;
}
.inspection-box-wrap .mcont ul{width:100%;height:auto;overflow:hidden;padding-top:45px;
    display:flex;justify-content:flex-start;align-items:flex-start;flex-wrap:wrap;
}
.inspection-box-wrap .mcont ul li{margin-right:24px;margin-bottom:24px;
    display:inline-flex;justify-content:center;align-items:center;height:40px;background:#F8F2ED;padding:0 20px;border-radius:20px;
    font-size:19px;color:#B29377;font-weight:700;letter-spacing: -0.4px;
}

.inspection-last-wrap{width:100%;height:auto;overflow:hidden;margin:137px auto;background:#FFF2F2;padding:150px 20px;}
.inspection-last-wrap ul{max-width:1200px;width:calc( 100% - 40px );height:auto;overflow:hidden;margin:0 auto;}
.inspection-last-wrap ul li{width:100%;height:auto;overflow:hidden;background:#fff;border-radius:14px;padding:68px 82px;
    display:flex;justify-content:flex-start;align-items:flex-start;
}
.inspection-last-wrap ul li + li{margin-top:20px;}
.inspection-last-wrap ul li .key{width:185px;height:auto;overflow:hidden;font-size:34px;color:#B29377;font-weight:700;letter-spacing: -0.4px;line-height:1.2em;}
.inspection-last-wrap ul li .value{width:100%;flex:1;height:auto;overflow:hidden;padding-left:55px;position:relative;
    font-size:20px;color:#B29377;font-weight:500;line-height:1.5em;letter-spacing: -0.4px;
}
.inspection-last-wrap ul li .value:before{
    content:"";width:20px;height:2px;overflow:hidden;display:block;background:#D3B79E;position:absolute;left:0;top:8px;
}

.case-list-wrap{width:calc( 100% - 40px );height:auto;overflow:hidden;max-width:1200px;margin:0 auto 120px auto;}
.case-list-wrap dl{width:100%;height:auto;overflow:hidden;}
.case-list-wrap dl dt{width:100%;height:auto;overflow:hidden;padding:100px 0 50px 0;text-align:center;font-size:40px;color:#B29377;font-weight:700;letter-spacing: -1.6px;}
.case-list-wrap dl dd{width:100%;height:auto;overflow:hidden;}
.case-list-wrap dl dd ul{width:100%;height:auto;overflow:hidden;}
.case-list-wrap dl dd ul li{width:100%;height:auto;overflow:hidden;border:1px solid #E8DCD0;border-radius:33px;box-sizing: border-box;padding:40px 70px;}
.case-list-wrap dl dd ul li + li{margin-top:40px;}
.case-list-wrap dl dd ul li .mcate{width:168px;height:40px;overflow:hidden;border-radius:10px;background:#FEE;display:flex;justify-content:center;align-items:center;
    font-size:24px;color:#B29377;font-weight:600;letter-spacing: -0.96px;
}
.case-list-wrap dl dd ul li .mcate.t01{width:128px;}
.case-list-wrap dl dd ul li .mpic{width:100%;height:auto;overflow:hidden;margin-top:42px;}
.case-list-wrap dl dd ul li .mpic + .mpic{margin-top:16px;}
.case-list-wrap dl dd ul li .mpic img{width:100%;float:left;}
.case-list-wrap dl dd ul li .mtit{margin-top:40px;font-size:26px;color:#B29377;line-height:1.5em;font-weight:800;width:100%;height:auto;overflow:hidden;letter-spacing: -0.64px;}
.case-list-wrap dl dd ul li .mdesc{margin-top:50px;font-size:16px;color:#B29377;line-height:1.5em;font-weight:400;width:100%;height:auto;overflow:hidden;letter-spacing: -0.64px;}
.case-list-wrap dl dd ul li .mdesc.t01{margin-top:20px;}
.case-list-wrap dl dd ul li .mdesc.ac{text-align:center;margin-top:20px;}
.case-list-wrap dl dd ul li .method{margin-top:80px;width:128px;height:40px;overflow:hidden;border-radius:10px;background:#FEE;display:flex;justify-content:center;align-items:center;
    font-size:24px;color:#B29377;font-weight:600;letter-spacing: -0.96px;}
.case-list-wrap dl dd ul li .mitem{width:100%;height:auto;overflow:hidden;margin-top:34px;display:flex;justify-content:space-between;align-items:center;gap:20px;}
.case-list-wrap dl dd ul li .mitem .opic{width:100%;flex:1;height:384px;overflow:hidden;border-radius:20px;background:#FBEFEF;position:relative;}
.case-list-wrap dl dd ul li .mitem .opic span{display:flex;justify-content:center;align-items:center;position:absolute;left:20px;bottom:18px;
    border-radius:10px;background:#B29377;width:145px;height:36px;overflow:hidden;font-size:16px;color:#fff;font-weight:500;letter-spacing: -0.64px;
}
.case-list-wrap dl dd ul li .mitem .olist{width:100%;height:auto;overflow:hidden;}
.case-list-wrap dl dd ul li .mitem .olist .uitem{width:100%;flex:1;height:357px;overflow:hidden;border-radius:20px;background:#FBEFEF;position:relative;}
.case-list-wrap dl dd ul li .mitem .olist .utxt{width:100%;height:auto;overflow:hidden;display:block;text-align:center;padding-top:20px;
    font-size:18px;color:#B29377;font-weight:600;letter-spacing: -0.72px;
}

.cosmetic-perpect-wrap{width:calc( 100% - 40px );height:auto;overflow:hidden;max-width:1200px;margin:140px auto 0 auto;}
.cosmetic-perpect-wrap .mtit{width:100%;height:auto;text-align:center;font-size:42px;color:#B29377;font-weight:700;letter-spacing: -0.4px;}
.cosmetic-perpect-wrap .mpic{width:100%;height:auto;overflow:hidden;text-align:center;max-width:1025px;margin:80px auto 0 auto;}
.cosmetic-perpect-wrap .mpic img{width:100%;}
.cosmetic-perpect-wrap .mdesc{width:100%;height:auto;overflow:hidden;text-align:center;margin-top:80px;
line-height:1.5em;font-size:16px;color:#B29377;font-weight:400;letter-spacing: -0.4px;}

.breast-before-after-wrap{width:calc( 100% - 40px );height:auto;overflow:hidden;max-width:1200px;margin:170px auto 0 auto;}
.breast-before-after-wrap dl{width:100%;height:auto;overflow:hidden;}
.breast-before-after-wrap dl dt{width:100%;height:auto;text-align:center;font-size:40px;color:#B29377;font-weight:700;letter-spacing: -0.4px;}
.breast-before-after-wrap dl dd{margin-left:0;margin-top:70px;width:100%;height:auto;overflow:hidden;}
.breast-before-after-wrap dl dd>ul{width:100%;height:auto;overflow:hidden;}
.breast-before-after-wrap dl dd>ul>li{box-sizing:border-box;width:100%;height:auto;overflow:hidden;border:1px solid #B29377;border-radius:33px;background:#FFF6F6;box-sizing: border-box;
    padding:30px;display:flex;justify-content:flex-start;align-items:center;
}
.breast-before-after-wrap dl dd>ul>li + li{margin-top:20px;}
.breast-before-after-wrap dl dd ul li .mcont{width:100%;flex:1;height:auto;overflow:hidden;margin-left:60px;margin-right:60px;}
.breast-before-after-wrap dl dd ul li .mcont .stit{width:100%;height:auto;overflow:hidden;font-size:37px;color:#B29377;font-weight:300;line-height:1.3em;letter-spacing: -1.48px;}
.breast-before-after-wrap dl dd ul li .mcont ul{width:100%;height:auto;overflow:hidden;margin-top:50px;}
.breast-before-after-wrap dl dd ul li .mcont ul li{width:100%;height:auto;overflow:hidden;padding-left:15px;position:relative;font-size:18px;color:#B29377;font-weight:500;
    letter-spacing: -0.72px;line-height:1.5em;
}
.breast-before-after-wrap dl dd ul li .mcont ul li:before{
    content:"";width:3px;height:3px;overflow:hidden;display:block;border-radius:50%;position:absolute;left:0;top:50%;margin-top:-1px;background:#B29377;
}
.breast-before-after-wrap dl dd ul li .mcont ul li + li{margin-top:8px;}
.breast-before-after-wrap dl dd ul li .mpic{width:423px;height:485px;overflow:hidden;border-radius:20px;background:#FBE9E9;}

.breast-custom-wrap{width:calc( 100% - 40px );height:auto;overflow:hidden;max-width:1200px;margin:120px auto 0 auto;}
.breast-custom-wrap dl{width:100%;height:auto;overflow:hidden;}
.breast-custom-wrap dl dt{width:100%;height:auto;overflow:hidden;text-align:center;}
.breast-custom-wrap dl dt .mtit{font-size:40px;color:#B29377;font-weight:700;letter-spacing: -0.4px;}
.breast-custom-wrap dl dt .mdesc{width:100%;height:auto;overflow:hidden;margin-top:30px;font-size:16px;color:#B29377;letter-spacing: -0.4px;}
.breast-custom-wrap dl dd{margin-top:70px;width:100%;height:auto;overflow:hidden;}
.breast-custom-wrap dl dd>ul{width:100%;height:auto;overflow:hidden;}
.breast-custom-wrap dl dd>ul>li{position:relative;border-radius:30px;border:1px solid #E8DCD0;width:100%;height:696px;overflow:hidden;padding:30px;}
.breast-custom-wrap dl dd>ul>li + li{margin-top:24px;}
.breast-custom-wrap dl dd ul li .mcont{padding:40px;width:318px;height:346px;overflow:hidden;border-radius:16px;background:#FFF6F6;border:1px solid #B29377;position:relative;}
.breast-custom-wrap dl dd ul li .mcont:before{
    content:"";width:12px;height:2px;overflow:hidden;display:block;background:#B29377;position:absolute;left:0;bottom:0;
}
.breast-custom-wrap dl dd ul li .mcont .stit{width:100%;height:auto;overflow:hidden;font-size:24px;color:#B29377;font-weight:700;letter-spacing: -0.96px;}
.breast-custom-wrap dl dd ul li .mcont ul{width:100%;height:auto;overflow:hidden;}
.breast-custom-wrap dl dd ul li .mcont ul li{width:100%;height:auto;overflow:hidden;position:relative;padding-left:15px;
    font-size:18px;color:#B29377;font-weight:400;letter-spacing: -0.72px;line-height:1.5em;
}
.breast-custom-wrap dl dd ul li .mcont ul li:before{
    content:"";width:3px;height:3px;overflow:hidden;display:block;border-radius:50%;position:absolute;left:0;top:50%;margin-top:-1px;background:#B29377;
}
.breast-custom-wrap dl dd ul li .mpic{width:514px;height:auto;overflow:hidden;position:absolute;right:174px;bottom:90px;}
.breast-custom-wrap dl dd ul li .mpic img{width:100%;float:left;}

.breast-result-wrap{width:calc( 100% - 40px );height:auto;overflow:hidden;max-width:1200px;margin:170px auto;}
.breast-result-wrap dl{width:100%;height:auto;overflow:hidden;}
.breast-result-wrap dl dt{width:100%;height:auto;overflow:hidden;text-align:center;}
.breast-result-wrap dl dt .mtit{font-size:40px;color:#B29377;font-weight:700;letter-spacing: -0.4px;}
.breast-result-wrap dl dt .mdesc{width:100%;height:auto;overflow:hidden;margin-top:30px;font-size:16px;color:#B29377;letter-spacing: -0.4px;}
.breast-result-wrap dl dd{margin-top:70px;width:100%;height:auto;overflow:hidden;border-radius:33px;border:1px solid #E8DCD0;padding:60px 70px;}
.breast-result-wrap dl dd .after-box{width:100%;height:auto;overflow:hidden;gap:38px;display:flex;justify-content:center;align-items:center;}
.breast-result-wrap dl dd .after-box .mitem{width:100%;height:auto;overflow:hidden;flex:1;}
.breast-result-wrap dl dd .after-box .mitem .spic{width:100%;height:357px;overflow:hidden;border-radius:20px;background:#FBEFEF;}
.breast-result-wrap dl dd .after-box .mitem .stxt{width:100%;height:auto;overflow:hidden;text-align:center;padding-top:28px;font-size:18px;color:#B29377;letter-spacing: -0.72px;font-weight:600;}
.breast-result-wrap dl dd .mpic{width:100%;height:344px;margin-top:50px;border-radius:20px;background:#FBEFEF;}
.breast-result-wrap dl dd .mtit{width:100%;height:auto;overflow:hidden;margin-top:80px;font-size:26px;color:#B29377;font-weight:800;line-height:1.5em;letter-spacing: -1.04px;}
.breast-result-wrap dl dd ul{margin-top:45px;width:100%;height:auto;overflow:hidden;display:flex;justify-content:flex-start;align-items:flex-start;flex-wrap:wrap;gap:15px;}
.breast-result-wrap dl dd ul li{width:calc( 100% / 3 - 10px );height:174px;overflow:hidden;border-radius:13px;background:#FFF4F4;padding:40px;}
.breast-result-wrap dl dd ul li .otit{width:100%;height:auto;overflow:hidden;font-size:20px;color:#B29377;font-weight:700;letter-spacing: -0.8px;}
.breast-result-wrap dl dd ul li .odesc{width:100%;height:auto;overflow:hidden;margin-top:20px;font-size:16px;color:#B29377;font-weight:400;letter-spacing: -0.64px;line-height:1.5em;}

.cosmetic-stress-wrap{width:calc( 100% - 40px );height:auto;overflow:hidden;max-width:1200px;margin:140px auto 0 auto;}
.cosmetic-stress-wrap .mtit{width:100%;height:auto;overflow:hidden;text-align:center;font-size:40px;color:#B29377;font-weight:700;letter-spacing: -0.4px;}
.cosmetic-stress-wrap .metc{width:100%;height:auto;overflow:hidden;text-align:center;margin-top:60px;font-size:21px;color:#B29377;font-weight:600;letter-spacing: -0.4px;}
.cosmetic-stress-wrap .mdesc{width:100%;height:auto;overflow:hidden;text-align:center;margin-top:30px;font-size:16px;color:#B29377;font-weight:600;letter-spacing: -0.4px;line-height:1.5em;}
.cosmetic-stress-wrap .mpic{width:100%;height:auto;overflow:hidden;text-align:center;margin-top:50px;}
.cosmetic-stress-wrap .mpic img{width:100%;}

.body-banner-wrap{width:100%;height:810px;overflow:hidden;background:url(../img/sub-content/bg-body-banner.jpg) no-repeat center top;background-size:cover;
    display:flex;justify-content:center;align-items:center;flex-direction: column;
}
.body-banner-wrap .mtit{
    width:calc( 100% - 40px );height:auto;overflow:hidden;text-align:center;
    font-size:40px;color:#fff;font-weight:700;line-height:1.3em;letter-spacing: -1.6px;
}
.body-banner-wrap .mdesc{
    width:calc( 100% - 40px );height:auto;overflow:hidden;text-align:center;line-height:1.5em;margin-top:50px;
    font-size:16px;color:#fff;font-weight:500;letter-spacing: -0.4px;
}
.sub-content.cosmetic01 .cosmetic-about-wrap05 .mtit:after{
    content:"";width:70px;height:208px;overflow:hidden;display:block;background:url(../img/sub-content/etc-cosmetic-title01.png) no-repeat;
    background-size:contain;position:absolute;right:24px;top:50%;margin-top:-100px;
}
.sub-content.cosmetic02 .cosmetic-about-wrap05 .mtit:after{
    content:"";width:70px;height:220px;overflow:hidden;display:block;background:url(../img/sub-content/etc-cosmetic-title02.png) no-repeat;
    background-size:contain;position:absolute;right:24px;top:50%;margin-top:-110px;
}
.sub-content.cosmetic03 .cosmetic-about-wrap05 .mtit:after{
    content:"";width:70px;height:220px;overflow:hidden;display:block;background:url(../img/sub-content/etc-cosmetic-title03.png) no-repeat;
    background-size:contain;position:absolute;right:24px;top:50%;margin-top:-110px;
}
.sub-content.cosmetic04 .cosmetic-about-wrap05 .mtit:after{
    content:"";width:50px;height:180px;overflow:hidden;display:block;background:url(../img/sub-content/etc-cosmetic-title04.png) no-repeat;
    background-size:contain;position:absolute;right:24px;top:50%;margin-top:-90px;
}

.sub-content.cosmetic06 .cosmetic-about-wrap05 .mtit:after{
    content:"";width:50px;height:220px;overflow:hidden;display:block;background:url(../img/sub-content/etc-cosmetic-title06.png) no-repeat;
    background-size:contain;position:absolute;right:24px;top:50%;margin-top:-110px;
}

@media (max-width:1390px) {


}

@media (max-width:768px) {
    .func-header-wrap{margin-top:80px;}
    .func-header-wrap .mtit{font-size:40px;}
    .func-header-wrap .mdesc{font-size:18px;}
    .inspection-box-wrap{display:block;padding:20px;}
    .inspection-box-wrap .mpic{margin:0 auto;}
    .inspection-box-wrap .mcont{width:100%;margin-left:0;}
    .inspection-box-wrap .mpic{}
    .inspection-box-wrap .mpic .pos{font-size:24px;padding:40px 20px;}
    .inspection-box-wrap .mcont .mdesc{padding:20px 0 20px 0;font-size:16px;}
    .inspection-box-wrap .mcont ul{padding-top:20px;}
    .inspection-box-wrap .mcont ul li{margin-right:15px;margin-bottom:15px;font-size:15px;}
    .inspection-box-wrap .mpic span{font-size:14px;padding:0 20px;}
    .inspection-last-wrap{margin:60px auto;padding:40px 20px;}
    .inspection-last-wrap ul{width:100%;}
    .inspection-last-wrap ul li{padding:20px;display:block;}
    .inspection-last-wrap ul li .key{font-size:24px;}
    .inspection-last-wrap ul li .key br{display:none;}
    .inspection-last-wrap ul li .value{font-size:16px;margin-top:10px;}
    .func-about-wrap{display:block;margin-top:60px;}
    .func-about-wrap .mcont{margin:0;}
    .func-about-wrap .mpic{width:100%;height:auto;}
    .func-about-wrap .mcont .mtit{margin-top:20px;text-align:center;font-size:24px;}
    .func-about-wrap .mcont .mdesc{margin-top:20px;margin-bottom:20px;font-size:15px;text-align:center;}
    .func-why-wrap{margin-top:60px;}
    .func-why-wrap .mtit{font-size:40px;line-height:1.2em;}
    .func-why-wrap .mbox{margin-top:20px;display:block;}
    .func-why-wrap .mbox .litem{width:100%;padding:0 20px;}
    .func-why-wrap .mbox .ritem{width:100%;padding:0 20px;margin:-50px 0 0 0;font-size:30px;}
    .func-why-wrap .mbox .litem .otit{text-align:center;font-size:22px;}
    .func-why-wrap .mbox .litem ul{margin-bottom:40px;}
    .func-why-wrap .mdesc{margin-top:60px;font-size:18px;}
    .func-why-wrap .mdesc br{display:none;}
    .func-why-wrap dl dt{font-size:24px;}
    .func-why-wrap dl dd{margin-top:40px;}
    .func-why-wrap dl dd br{display:none;}
    .function-banner-wrap{margin-top:60px;padding:60px 0;}
    .function-banner-wrap .mtit{font-size:30px;}
    .function-banner-wrap .mpic{font-size:100px;margin-top:100px;}
    .function-end-wrap{margin:60px auto;}
    .function-end-wrap .mpic img{max-width:150px;}
    .function-end-wrap .mtit{font-size:30px;margin-top:30px;}
    .function-end-wrap .mtit br{display:none;}
    .function-end-wrap .mdesc{margin-top:40px;font-size:20px;line-height:1.5em;}
    .function-banner-wrap .mdesc br{display:none;}
    .function-banner-wrap .mdesc{padding:0 20px;}
}